#アプリを動かすための複数のコンテナを一括管理する
#例えば、web(Rails),db(PostgreSQL), selenium(テスト用ブラウザ)を同時に立ち上げて、それぞれをどう繋ぐかを定義
services: 
  selenium:
    image: seleniarm/standalone-chromium:latest
    shm_size: 2g # メモリ不足を防ぐためのおまじない
    ports:
      - "4444:4444" # Selenium Gridのポート

  db:
    image: postgres:15
    volumes:
      - db-data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  web:
    build: .
    # 環境変数 RAILS_COMMAND があればそれを実行し、なければデフォルトのサーバー起動コマンドを実行する
    # これにより、`docker compose run` で任意のコマンドを実行しつつ、`docker compose up` ではサーバーを起動できる
    # command: bash -c "rm -f tmp/pids/server.pid && ${RAILS_COMMAND:-bundle exec rails s -b 0.0.0.0}"
    # --- デバッグ用コマンド ---
    command: bash -c "echo '--- devise.rb の内容 ---' && cat config/initializers/devise.rb && echo '--- 確認終了 ---' && sleep infinity"
    volumes:
      - .:/app
      - bundle:/usr/local/bundle
    ports:
      - "3000:3000"
    depends_on:
      - selenium
      - db
    environment:
      DATABASE_HOST: db
      DATABASE_USERNAME: postgres
      DATABASE_PASSWORD: password
      GOOGLE_MAPS_API_KEY: ${GOOGLE_MAPS_API_KEY:-} # .envファイルからAPIキーを読み込む
      DOCKER_CONTAINER: "true" # Dockerコンテナ内で実行されていることを示す
      SELENIUM_URL: http://selenium:4444/wd/hub # webコンテナからseleniumコンテナに接続するためのURL
      LINE_CHANNEL_ID: ${LINE_CHANNEL_ID:-} 
      LINE_CHANNEL_SECRET: ${LINE_CHANNEL_SECRET:-}

volumes:
  db-data:
  bundle: