<div class="card bg-base-200 shadow-xl mb-8">
  <div class="card-body">
  <h2 class="card-title">プロフィールの編集</h2>
  <% if current_user.errors.any? %>
    <div class="alert alert-error">
      <ul>
        <% current_user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-control">
    <label class="label">
      <span class="label-text">お名前</span>
    </label>
    <%= form.text_field :name, class: "input input-bordered", required: true %>
  </div>

  <div class="form-control mt-4">
    <label class="label">
      <span class="label-text">メールアドレス</span>
    </label>
    <%= form.email_field :email, class: "input input-bordered", required: true %>
  </div>

  <% unless current_user.line_connected? %>
    <div class="form-control mt-4">
      <label class="label">
        <span class="label-text">現在のパスワード <br>（変更には入力が必要です）</span>
      </label>
      <%= form.password_field :current_password, class: "input input-bordered", required: true %>
    </div>
  <% end %>
  </div>
</div>