@reference "tailwindcss";

@layer components {
  .top_button {
    @apply block h-20 w-auto ml-[40rem] transition-transform duration-300;
  }
  
  .top_button:hover {
    @apply scale-110;
  }

  .arrow {
    @apply block h-5 w-auto 
  }

  .point-selector {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}