@reference "tailwindcss";

@layer components {
  .top_button {
    @apply block h-20 w-auto ml-[40rem] transition-transform duration-300;
  }
  
  .top_button:hover { /* :hover … その要素自身が対象。*/
    @apply scale-110;
  }

  .arrow {
    @apply block h-5 w-auto 
  }

  .point-selector {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .how_to_go {
    display: flex;  /* 横並びはrow,縦はcolumn */
    flex-direction: row;
    justify-content: center;  /* 横方向中央揃え*/
    align-items: center;  /* 縦方向中央揃え */
    gap: 2rem;   /* ボタン間隔のスペース */

    height: 6em;  /* 高さを大きく */
    width: auto;   /* 幅は自動で比率維持 */
    transition: transform 0.3s;  /* hoverアニメーショ用 */
  }

  .how_to_go a:hover img { /* a:hover img … 親（a）にhover → 子（img）を変化。*/
    transform: scale(1.1);
    transition: transform 0.3s;
  }

  .load_top {
    position: absolute; /* 絶対配置にする */
    top: 1rem; /* 上からの距離 */
    right: 10rem; /* 右からの距離 */
    z-index: 1000; /* 他要素に被らないように優先度を上げる */
  }

  .navi_btn {
    top: 5rem;
    right: 10rem;
  }

  .current_pos {
    width: 4rem; /* ボタンの幅 */
    height: 4rem; /* ボタンの高さ */
  }

  .current_pos img {
    @apply h-full w-full object-contain; /* 画像をボタンのサイズいっぱいに広げる */
  }
}