.cute-title {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 1.5rem;
  color: #624007;
}

.cute-title-layout {
  text-align: center; /* 横中央 */
  margin-top: 14rem; /* 上余白 */
  margin-bottom: 7rem; /* 下余白 */
  justify-content: center;
  align-items: center;
}


