.splide {
    max-width: 500px;
    height: auto;
  }
  
.splide__slide img{
  width: 100%;
  height: 330px;
  display: block;
  object-fit: contain; 
}

@layer components {
  .splide__list {
    display: flex !important;
  }
}