<body>
  <%= link_to car_routes_path do %>
    <%= image_tag "stopNavi.png", alt: "stopNavi", class:"navi_btn" %>
  <% end %>
  <div id="carNaviMap"></div>

  <script type="module">
    import "maps_ready";
    import { initMap } from "map";
    import { getCurrentPosition } from "current_position";
    import { carDrawRoute } from "car_route";
    import { carRouteBtn } from "car_route";
    import { naviBtn } from "navigation";

    await window.mapApiLoaded;

    document.addEventListener("DOMContentLoaded", () => {
      const naviMapDiv = document.getElementById("carNaviMap");

      if (mapDiv && !mapDiv.dataset.mapInitialized) {
        initMap(carNaviMapDiv);
        carNaviMapDiv.dataset.mapInitialized = "true";
        getCurrentPosition();
        carRouteBtn();
        naviBtn();
      }
    });
  </script>