<h1 class="cute-title cute-title-layout">どのように移動しますか?</h1>
<div class="how_to_go">
  <%= link_to walk_routes_path do %>
    <%= image_tag "/images/walk_logo.png", alt: "walk_logo" %>
  <% end %>
  <%= link_to car_routes_path do %>
    <%= image_tag "/images/car_logo.png", alt: "car_logo"%>
  <% end %>
</div>