<body>
  <h1>目的地の選択</h1>
  <input type="text" id="address" placeholder="住所や施設名を入力">
  <button id="searchBtn">検索</button>

  <button id="drawRoute">ルート検索</button>

  <button id="searchNearby">周辺の駐車場を探す</button>

  <button id="naviBtn">ナビ開始</button>
  <button id="stopNaviBtn">ナビ終了</button>

  <div id="map"></div>
  <script type="module">
    import "maps_ready";
    import { initMap } from "map";
    import { initMarkerEvents } from "set_marker";
    import { highlightMarker } from "search_box";
    import "geocode_address";
    import { searchParking } from "search_parking";
    import { getCurrentPosition } from "current_position";
    import { drawRoute } from "walk_route";
    import "navigation";

    document.addEventListener("DOMContentLoaded", () => {
      const mapDiv = document.getElementById("map");
      if (mapDiv && !mapDiv.dataset.mapInitialized) {
        initMap(mapDiv);
        mapDiv.dataset.mapInitialized = "true";
        initMarkerEvents();
        highlightMarker();
        searchParking();
        getCurrentPosition();
        drawRoute();
      }
    });
  </script>
</body>