<div id="error-message" class="hidden"></div>
<%= link_to walk_routes_path do %>
  <%= image_tag "/images/stopNavi.png", alt: "stopNavi", class:"navi_btn" %>
<% end %>
<div id="arrivalMessage" class="fixed top-[10%] left-1/2 -translate-x-1/2 translate-y-1/2 z-50 hidden opacity-0 transition-opacity duration-1000 ease-in-out">
  <%= image_tag "/images/touchaku.png", alt:"arrival" %>
</div>
<div id="naviMap"></div>
