<%= render 'layouts/header' %>  
<div class="cute-title flex flex-wrap items-center space-x-2 justify-center mt-3 w-full">
  <input type="text" id="address" placeholder="住所や施設名を入力" class="border-none rounded-md shadow-md w-1/2 text-center">
  <button id="searchBtn" class="appearance-none bg-transparent border-none p-0 m-0 mr-[-1rem]">
    <%=image_tag "/images/search_btn.png", alt: "search_btn", class: "btn_effect h-13 -mt-1" %>
  </button>
</div>
<div id="route-menu">
  <%= render 'shared/route_menu', mode: :walk %>
</div>
<%= render 'shared/route_points', mode: :walk %>
<div id="map"></div>
