<p><%= @resource.email %>様</p>

<div>パスワード変更リクエストを受け付けました。<br>
  下記URLから新しいパスワードの設定を行なってください。
</div>

<p><%= link_to 'パスワードの変更はこちら', edit_password_url(@resource, reset_password_token: @token) %></p>
  
<p>また、こちらのメールに心当たりがない場合はパスワード変更不要です。</p>

