<div class="container cute-title mx-auto px-4 py-8">
  <h1 class="text-2xl font-bold mb-4"><%= @location.name %>を編集</h1>

  <div class="mb-4 text-sm text-gray-600">
    登録日: <%= @location.created_at.strftime('%Y年%m月%d日') %>
  </div>
  <%= render 'shared/locations_edit' %>
</div>