<%= render 'layouts/header' %>  
<div class="container cute-title mx-auto px-4 py-8">
  <div class="flex justify-between items-center mb-6">
    <h1 class="text-2xl font-bold">保存した場所一覧</h1>
    <%= link_to new_route_path, class: "nav-link" do %>
      <img src="/images/return_map.png" alt="return_map" class="btn_effect h-17">
    <% end %> 
  </div>

  <% if @locations.empty? %>
    <div class="card bg-base-200 shadow-xl">
      <div class="card-body">
        <p>保存されている場所はありません。</p>
        <p>地図ページから場所を検索し、「この場所を保存」ボタンを押して登録してください。</p>
      </div>
    </div>
  <% else %>
    <div class="overflow-x-auto">
      <table class="table w-full">
        <thead>
          <tr>
            <th>名前</th>
            <th class="text-right"></th>
          </tr>
        </thead>
        <tbody>
          <%= render @locations %>
        </tbody>
      </table>
    </div>
  <% end %>
  <% unless @locations.empty? %>
    <div id="map"></div>
  <% end %>
</div>